@model IEnumerable<Auto_Barter.Models.UserAccount>

@{
    ViewBag.Title = "Index";
    int UserCount = 0;
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(modal => modal.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(modal => modal.UserRole)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
    </tr>

@foreach (var item in Model) {
    {
        UserCount++;
    }
    <tr>
        <td><strong>@UserCount</strong></td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserRole)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailAddress)
        </td>
    </tr>
}

</table>
